{% extends 'pages/changelog.twig' %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .form-group.required label:after {
            content:" *";
            color: red;
        }
        .never-select {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .ui-widget-content {
            background-color: white;
            border: 1px solid #ced4da;
            padding: .375rem .75rem;
        }
    </style>
{% endblock %}
{% block changelogContent %}
    <div class="row mx-0 my-3">
        <div class="col-6 mx-auto">
            <form action="/changelogs/entry/save" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ new_id }}"/>
                <input type="hidden" name="log_id" value="{{ selected.id }}"/>
                <input type="hidden" name="timediff" id="timediff" value="0">
                <div class="form-group required">
                    <label for="initiated_by">Initiated By</label>
                    <input type="text"
                           class="form-control"
                           name="initiated_by"
                           required="required"
                           maxlength="200"
                           id="initiated_by">
                </div>
                <div class="form-group required">
                    <label for="tech">Tech</label>
                    <input type="email"
                           class="form-control"
                           name="tech"
                           required="required"
                           value="{{ auth.claims.email }}"
                           maxlength="200"
                           id="tech">
                </div>
                <div class="form-group required">
                    <label for="change_description">Change Description</label>
                    <textarea class="form-control"
                              name="change_description"
                              required="required"
                              id="change_description"
                              rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="device">Device</label>
                    <input type="text"
                           class="form-control"
                           name="device"
                           maxlength="200"
                           id="device">
                </div>
                <div class="form-group">
                    <label for="rollback_description">Rollback Description</label>
                    <textarea class="form-control"
                              name="rollback_description"
                              id="rollback_description"
                              rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="created_at">Performed</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input class="mr-2" style="margin-top: -1px;" onclick="processNow();" type="checkbox" checked="checked" name="now" value="1" id="now">
                                <label class="form-check-label never-select" for="now">Now</label>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="created_at" name="created_at" />
                    </div>
                </div>
                <script type="text/javascript">
                    function processNow()
                    {
                        var checkbox = document.getElementById('now');
                        var input = document.getElementById('created_at');
                        if (checkbox.checked == true) {
                            if (!input.hasAttribute('disabled')) {
                                input.setAttribute('disabled', 'disabled');
                            }
                            input.value = getCurrentTimestamp();
                        } else {
                            if (input.hasAttribute('disabled')) {
                                input.removeAttribute('disabled');
                            }
                        }
                    }
                    function setTimezone() {
                        document.getElementById('timediff').value = (new Date()).getTimezoneOffset();
                    }
                    function getCurrentTimestamp()
                    {
                        var cur = new Date();
                        var year = cur.getFullYear();
                        var month = ('0' + (cur.getMonth()+1)).slice(-2);
                        var date = ('0' + cur.getDate()).slice(-2);
                        var hours = ('0' + cur.getHours()).slice(-2);
                        var minutes = ('0' + cur.getMinutes()).slice(-2);
                        var seconds = ('0' + cur.getSeconds()).slice(-2);
                        return year + '-' + month + '-' + date + ' ' + hours + ':' + minutes + ':' + seconds;
                    }
                    setInterval(processNow, 1000);
                    processNow();
                    setTimezone();
                    $( "#created_at" ).flatpickr({
                        dateFormat: "d-m-Y H:i:S",
                        enableTime: true,
                        enableSeconds: true,
                        time_24hr: true,
                        weekNumbers: true,
                        maxDate: "today"
                    });
                </script>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}