{% extends 'base.twig' %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript">{{ lib.jquery | raw }}</script>
    <style type="text/css">{{ lib.bootstrap.css | raw }}</style>
    <script type="text/javascript">{{ lib.bootstrap.js | raw }}</script>
{% endblock %}
{% block body %}
    <div class="{% block container_class %}container-fluid{% endblock %}">
        {% block container %}
        {% endblock %}
    </div>
{% endblock %}