{% extends 'base.twig' %}
{% block head %}
    {{ parent() }}
    {% for js in lib.js %}
        <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
    {% for css in lib.css %}
        <link rel="stylesheet" type="text/css" href="{{ css }}"/>
    {% endfor %}
{% endblock %}
{% block body %}
    <div class="{% block container_class %}container-fluid{% endblock %}">
        {% block container %}
        {% endblock %}
    </div>
{% endblock %}