<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-2">
    {% block main %}
        {% block brand %}
            <p class="navbar-brand mb-0">{{ navbar.title|default('No Title') }}</p>
        {% endblock %}
        <ul class="navbar-nav ml-auto">
            {% block menu %}
            <li class="nav-item">
                <a class="nav-link" href="{{ auth.logout.url|default('#') }}">Log out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
            {% endblock %}
        </ul>
    {% endblock %}
</nav>